<h1>Messages</h1>

<% if session[:user_id] %>
  <%= button_to("New message", messages_new_path) %>
  <% @messages = Message.where(recipient: session[:user_id]).order('created_at DESC') %>
  <% @messages.each do |m| %>
    <p>
      <%= render 'message_disp', message: m, show_options: true, show_parents: false %>
    </p>
  <% end %>
<% else %>
  You can't send or recieve messages if you aren't logged in.
<% end %>
