$navbar-default-bg: #ff6e00;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav.navbar-nav li a {
    color: #fff;
}


.dropdown .dropdown-menu li a {
  color: #ff6e00;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('dormroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.thumb-img {
  max-height: 242px;
  max-width: 200px;
}

.thumbnail-div {
  display:block;
  min-height: 300px;
  overflow: hidden;
}
