$navbar-default-bg: #ff6e00;
$navbar-default-text: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav.navbar-nav li a {
    color: #fff;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('dormroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
